{% extends 'base.html' %}

{% block content %}

<h2>Welcome {{current_user.username}}!</h2>
<img style="height: 200px; border: 1px solid grey;" src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}">

<form method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email }}
    <br><br>
    {{ form.username.label }} {{ form.username }}
    <br><br>
    {{ form.picture.label }} {{ form.picture }}
    <br><br>
    {{ form.submit() }}

</form>

{% endblock content %}