{% extends "base.html" %}

{% block content %}

<h2>{{ post.title }}</h2>
<p>Written by {{post.author.username}}</p>
<p>Publised: {{post.date}}</p>
<br><br>
<p>{{ post.text }}</p>

<!-- If the viewer is the author of the post, they shall have options to update or delete the post -->
{% if post.author == current_user %}

<!-- a hyperlink to update the post -->
<a href="{{url_for('blog_posts.update', blog_post_id=post.id)}}">Update</a>
<!-- a button to delete the post -->
<button type="button" name="button" class="btn btn-danger" data-toggle="modal" data-target="#del-modal">Delete</button>

{% endif %}

<!-- A modal component from bootstrap -->
<div class="modal" tabindex="-1" role="dialog" id="del-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete blog post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the post?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <form action="{{ url_for('blog_posts.delete_post', blog_post_id=post.id) }}"><input type="submit" value="delete" class="btn btn-danger"></form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}