<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('home')}}">Home</a></li>
        <!-- Below line comes from flask login-manager. -->
        {% if current_user.is_authenticated %}        
        <li><a href="{{ url_for('logout')}}">Log Out</a></li>

        {% else %}
        <li><a href="{{ url_for('login')}}">Log In</a></li>        
        <li><a href="{{ url_for('register')}}">Register</a></li>
        
        {% endif %}
    </ul>

    {% block content %}

    {% endblock %}
    
</body>
</html>