html {
    background-color: #d19e9e;
    font-size: 87%;
}
body {
    width: 940px;
    margin: 0 auto;
}
header p {
    margin: 0;
    padding: 0 0 50px 0;
}
.box { 
    width: fit-content;  
    padding: 20px;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin:0 0 30px 30px;
    text-align: center;
}
.box-a {
    margin: 10px auto;
    transition-property: all;
    transition-duration: 1s;
}
.box-a:hover {
    transform: rotate(5deg);
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
/* Banner */
}
.banner-container {
    width: 50%;
    margin: 10px auto;
}
.image-banner {
    position: relative;
    color: #ffffff;
    overflow: hidden;
}
.image-banner img:hover {
    transform: scale(1.25);
    transition-property: all;
    transition-duration: 2s;
}
.banner-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .40);
    font-size: 150%;
    transform: translateY(100%);
    opacity: 0;
    transition-property: all;
    transition: 2s;
}
/* End of Banner */
/* Image Rotation Transition */
.image-rotate-1 {
    width: 10%;
    display: block;
    margin-top: 0;
    margin-left: 0;
}
.wheel:hover .image-rotate-1{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 800px;
    transition: all 3s;
}
.image-rotate-1 img {    
    border-radius: 50%;
}
.wheel:hover .image-rotate-1{
    transform: rotate(3600deg);
    transition: all 3s;
    transition-timing-function: ease-in-out;
}
.image-rotate-2 {
    position: relative;
    margin-bottom: 0;
}
.image-rotate-3{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
.image-banner:hover .banner-description {
    transform: translateY(0%);
    opacity: 1;
}
.wheel {
    border-bottom: 3px solid #000000;
}
/* End of Image Rotation Transition */