body {
    font-family: 'Raleway', sans-serif; 
    background-color: #3b3b3b;
    width: 80%;
    margin: auto;
}

.top_bar {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: #ededed;
    padding: 30px 20px;
    border-radius: 5px;
}

.prompt_bar {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    background-color: #ededed;
    padding: 10px 40px 50px 40px;
    border-radius: 30px;
    border: 1px solid black;
}

.prompt_buttons {
    float: left;
}

#button, #button_one, #button_two {
    background-color: #52ff89;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin-right: 20px;
}

#button {
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 30px;
}

#button:hover, #button_one:hover, #button_two:hover {
    background-color: #00b339;
}

#button:active, #button_one:active, #button_two:active  {
    background-color: #52ff89;
}

.table {
    margin: auto;
    border-spacing: 0px;
    border: 1px solid #000000;
    margin-top: 50px;
}

td {
    background-color: #b5b1b1;
    font-weight: bolder;
    font-size: 4.0em;
    height: 120px;
    width: 120px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000000;
}

.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.row:after,
.group:after {
  clear: both;
}

.row,
.group {
  zoom: 1;
}