<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>    
    <title>{% block title %}{% endblock %}</title>
    {% block script %}

    {% endblock %}
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('bmi_page')}}">BMI</a></li>
            <li><a href="{{ url_for('info')}}">Info</a></li>
        </ul>
    </nav>

    <h2>Rendered using Flask</h2>

    {% block content %}

    {% endblock %}

        
</body>
</html>