<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puppy Adoption Site</title>
    <style>
        body {
            width: 1000px;
        }
        nav {
            padding-top: 20px;
        }
        nav li {
        width: 100px;
        text-align: center;
        list-style: none;}
        li a {            
        text-decoration: none;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home Page</a></li>
                <li><a href="{{ url_for('puppies.add') }}">Add Puppy</a></li>
                <li><a href="{{ url_for('puppies.delete') }}">Remove Puppy</a></li>
                <li><a href="{{ url_for('owners.add') }}">Add Owner</a></li>
                <li><a href="{{ url_for('puppies.list') }}">Puppy List</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}
    
</body>
</html>